<!doctype html>

<head>
   <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-2.10.1.min.css" />
</head>
<html>

<body style="padding: 20px">
   <form action="result" method="POST">
      <h3>
         <table>
            <td>Question {{ number }} of {{ nQuestions }}</td>
            <td style="text-align:right">Score so far: {{score}}</td>
         </table>
      </h3>
      <pre>{{ question }}</pre>
      <p>Your answer <input type="text" name="answer" /></p>
      <p><input type="submit" value="submit" /></p>
   </form>

</body>

</html>